/*reset样式*/
html{
    font-family: "微软雅黑";
}
body,h1,h2,h4{
    margin: 0;
    font-size: 12px;
}
img{
    border: 0;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}

/*main_box*/
html{
    background: #fff;
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    position: relative;
}
#main_box.active{
    opacity: 0.3;
}
#header{
    width: 84.02%;
    margin: 0 auto;
    padding: 0 10px;
}
.logo{
    float: left;
    margin-top: 25px;
    width: 100px;
}
.login_btn{
    float: right;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}
.login_btn:hover{
    color:#3dd152;
    cursor: pointer;
}
#wrap_content{
    width: 84.02%;
    height: 50%;
    position: absolute;
    position: relative\9;
    top: 0;
    top: 80px\9;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 960px;
    min-width: 1210px\9;
    min-height: 346px;
}
#mac_img{
    float: left;
    margin-right: 2.5%;
    width: 47.5%;
}
#mac_img img{
    width: 100%;
}
#content{
    width: 47.5%;
    float: left;
}
#content h1{
    font-size: 3.5rem;
    font-size: 70px\9;
    font-weight: 100;
    line-height: 4.2rem;
    line-height: 84px\9;
}
#content h4{
    margin-top: 1rem;
    margin-top: 20px\9;
    font-size: 1.5rem;
    font-size: 30px\9;
    line-height: 2.2rem;
    line-height: 44px\9;
}
.download,.upload{
    margin-top: 3rem;
    margin-top: 60px\9;
    border-radius: 0.5rem;
    border-radius: 10px\9;
    background: #3dd152;
    border: 0;
    width: 10.5rem;
    width: 210px\9;
    height: 3rem;
    height: 60px\9;
    line-height: 3rem;
    line-height: 60px\9;
    font-size: 1.2rem;
    font-size: 24px\9;
    color: #fff;
    margin-right: 1.5rem;
    margin-right: 30px\9;
}
#content i{
    font-size: 1.2rem;
    padding-right: 0.3rem;
    font-size: 24px\9;;
    padding-right: 6px\9;

}
#footer{
    height: 90px;
    background: #273133;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 90px;
}

/*弹出框共有样式*/
.alert_box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 466px;
    margin-left:-233px;
    display: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}
.alert_box i{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #999;
}
.alert_box i:hover{
    color: #3ed152;
    cursor: pointer;
}
.alert_box h2{
    color: #3ed152;
    margin-bottom: 22px;
    font-size: 24px;
}

/*login_box*/
#login_box{
    height: 326px;
    margin-top:-163px;
}
#login_box h2{
    margin-top: 50px;
    text-align: center;
}
.input_box{
    padding-left: 20px;
    margin: 5px 98px;
    width: 252px;
    height: 44px;
    border-radius: 3px;
    border: 1px #ccc solid;
    color: #999;
}
.login_submit{
    width: 272px;
    display: block;
    border: none;
    color : #fff;
    margin-bottom: 10px;
    background: #3cd051;
}
#forget_password{
    margin-left: 98px;
    color: #999;
}
#forget_password a{
    text-decoration: none;
}

/*input_box*/
#input_box{
    height: 246px;
    margin-top: -123px;
}
#input_box h2{
    margin-top: 46px;
    margin-left: 96px;
}
#input_box ul{
    overflow: hidden;
    margin: 20px 0 30px 96px;
}
#input_box li{
    float: left;
    width: 38px;
    height: 38px;
    border: 1px solid #afafaf;
    margin-right: 5px;
    border-radius: 4px ;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
}
.input_number{
    display: none;
}

/*iconfont*/
@font-face {font-family: 'iconfont';
    src: url('../img/font/iconfont.eot'); /* IE9*/
    src: url('../img/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../img/font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../img/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../img/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}