<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/webuploader/webuploader.css">
</head>
<body>
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list">
        <div id="start" style="display:none;" value="start"></div>
    </div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
</div>
<!--<form action="__URL__/upload" enctype="multipart/form-data" method="post" >-->
    <!--<input type="text" name="name" />-->
    <!--<input type="file" name="photo[]" />-->
    <!--<input type="file" name="photo[]" />-->
    <!--<input type="file" name="photo[]" />-->
    <!--<input type="file" name="photo[]" />-->
    <!--<input type="file" name="photo[]" />-->
    <!--<input type="submit" value="提交" >-->
<!--</form>-->

</body>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__PUBLIC__/js/jquery-1.11.1.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.js"></script>
<script src="__PUBLIC__/js/upload.js"></script>
</html>